<!DOCTYPE html>
<html>
<head>
	<title>QuotingDojo</title>
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
</head>
<body>
	<div class="container">
		<h1>Welcome to QuotingDojo</h1>	
		 <div class="row">
			<form method="post" action="/quotes">
			  <div class="row">
			    <div class="six columns">
			      <label for="exampleEmailInput">Your name</label>
			      <input name="name" class="u-full-width" type="text" placeholder="Esteban">
			    </div>

			  </div>
			  <label for="exampleMessage">Your Quote</label>
			  <textarea name="quote" class="u-full-width" placeholder="I make jokes"></textarea>
			  <input class="button-primary" type="submit" value="Add my quotes!">
			  <a href="/quotes" class="button button-primary">Skip to quotes</a>
			</form>
  		</div>
	</div>	
</body>
</html>